<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="../node_modules/swiper/dist/css/swiper.css">
    <link rel="stylesheet" href="../css/index.css">
    <style>
    </style>
</head>
<body>
    <div class="swiper-container swiper-container-father">
        <nav class="navmune">
            <ul class="ul1">
                <li><a href="../view/index.html">首页</a></li>
                <li><div id="allp"><a href="../view/allpro.html" >所有产品</a></div></li>
                <li><a href="">WIS资讯</a></li>
                <li><a href="../view/aboutwis.html"  class="ul-active">关于WIS</a></li>
                <li><a href="../view/checkcode.html">防伪查询</a></li>
                <li><a href="../view/member.html">会员中心</a></li>
                <li><a href="../view/ppzsy.html">品牌招商</a></li>
            </ul>
        </nav>
        <div class="allcp">
            <div class="allcp-son">
                <div class="allcp-son1">
                    <p>人气面膜</p>
                        <table cellspacing="20" class="alltable">
                            <tr>
                                <td>细致毛孔</td>
                                <td>补水保湿</td>
                                <td>深层清洁</td>
                                <td>滋养修护</td>
                            </tr>
                            <tr>
                                <td>白亮嫩肤</td>
                                <td>舒缓抑敏</td>
                                <td>补水控油</td>
                            </tr>
                        </table>
                </div>
                <div>
    
                    <p>功效分类</p>
                        <table cellspacing="20" class="alltable">
                            <tr>
                                <td>去除黑头</td>
                                <td>提亮肤色</td>
                                <td>清洁毛孔</td>
                                <td>祛痘淡印</td>
                            </tr>
                            <tr>
                                <td>舒缓抑敏</td>
                                <td>补水保湿</td>
                                <td>隔离遮瑕</td>
                                <td>清爽控油</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table cellspacing="20">
                            <tr>
                                <td>彩妆专属</td>
                                <td>护理专属</td>
                                <td>新品专区</td>
                            </tr>
                            <tr>
                                <td>水乳套装</td>
                                <td>爆款榜单</td>
                                <td>男生专属</td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide abwis-slide1">
                <div class="hfpp1">
                    <div style="font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 5px;color:white">
                        “WIS”源自欧洲一个古老的单词“WISSENSCHAFT”意指科学技术
                    </div>
                    <div class="div-p">
                        <p>
                            作为护肤品牌，WIS一直按照严格的标准做化妆品，
                        </p>
                        <p>
                            携手瑞士世界级原料科研供应商（RANH集团），运用天然成分和先进科技，追求极致的科学性和安全性，
                        </p>
                        <p>
                            致力于为全球年轻的消费者带来美好的肌肤体验。
                        </p>
                    </div>
                    <div>
                        <table class="icontable-1" cellspacing="20px">
                            <tr>
                                <td class="icon1-1"><embed src="../images/index/brand_one.svg"><span class="span-t">产品安全</span></td>
                                <td class="icon1-1"><embed src="../images/index/brand_two.svg"><span class="span-t">科学研发</span></td>
                                <td class="icon1-1"><embed src="../images/index/brand_three.svg"><span class="span-t">国际合作</span></td>
                                <td class="icon1-1"><embed src="../images/index/brand_four.svg"><span class="span-t1">取材优质</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
           </div>
            <div class="swiper-slide abwis-slide1">
                <div class="hfpp1">
                    <div style="font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 5px;color:white">
                        “让全球年轻人都用上科学、有效的护肤品”
                    </div>
                    <div class="div-p">
                        <p>
                            我们坚信，高品质是好品牌的基础，好产品源于品牌对高品质的执着追求。秉承“温和、天然、有效”的护肤理念，
                        </p>
                        <p>
                            以及对产品质量的高要求，WIS通过反复测试与分析不断优化产品， 并以愉悦的肤感列入产品优化的标准， 
                        </p>
                        <p>
                            尤其重视用户的使用体验和反馈意见，为带给用户更好的、更有效的护肤体验。
                        </p>
                    </div>
                    <div>
                        <table class="icontable-1" cellspacing="20px">
                            <tr>
                                <td class="icon1-1"><embed src="../images/index/brand_one.svg"><span class="span-t">产品安全</span></td>
                                <td class="icon1-1"><embed src="../images/index/brand_two.svg"><span class="span-t">科学研发</span></td>
                                <td class="icon1-1"><embed src="../images/index/brand_four.svg"><span class="span-t1">取材优质</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="swiper-slide abwis-slide3">
                <div class="slide3-flex">
                    <div class="slide3-body">
                        <div class="slide3-t">「 科学有效 」</div>
                        <div class="slide3-msg1">
                            <p>肌肤有自己精密的结构，只有遵循肌肤的规律，才能给肌肤带</p>
                            <p>来有效的护理。我们坚持选择优质的原料，每一个配方都经数</p>
                            <p>次科学实验验证有效，因为科学，所以有效。</p>
                        </div>
                        <hr class="hrclass">
                        <div class="slide3-text">
                            <p>SKIN HAS ITS OWN RULES OF STRUCTURE, ONLY IN ACCORDANCE WITHONLY BY</p>
                            <p>FOLLOWING THE LAW OF THE SKIN CAN WE EFFECTIVELY PROTECT THE SKINLI.WE</p>
                            <p>INSIST ON CHOOSING THE BEST RAW MATERALS, EVERY FORMULAALL OF THEM HAVE</p>
                            <p>BEEN PROVED EFFECTIVE BY SEVERAL SCIENTIFIC EXPERIMENTS, BECAUSE SCIENCE,</p>
                            <p>SO IT WORKS.</p>
                        </div>
                        <img class="img-1" src="../images/aboutImg/maohaozuo.svg" alt="">
                        <img class="img-trans" src="../images/aboutImg/maohaozuo.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-slide abwis-slide4">
                <div class="slide4-flex">
                    <div class="slide3-body">
                        <div class="slide3-t">「 愉悦肤感 」</div>
                        <div class="slide3-msg1">
                            <p>让护肤成为享受而非任务。好的护肤体验是享受护肤的前</p>
                            <p>提，所有的产品，我们都坚持把肤感体验也做为研发标准，</p>
                            <p>要有效的结果，也要享受的过程。</p>
                        </div>
                        <hr class="hrclass">
                        <div class="slide3-text">
                            <p>MAKE SKIN CARE A PLEASURE, NOT A TASK. A GOOD SKIN CARE EXPERIENCE IS THE</p>
                            <p>PREMISE OF ENJOYING SKIN CARE. FOR ALL PRODUCTS, WE INSIST ON THE SKIN</p>
                            <p>FEELING EXPERIENCE AS THE RESEARCH AND DEVELOPMENT STANDARD. WE NEED</p>
                            <p>EFFECTIVE RESULTS AND ENJOY THE PROCESS AS WELL.</p>
                            <!-- <p>SO IT WORKS.</p> -->
                        </div>
                        <img class="img-1" src="../images/aboutImg/maohaozuo.svg" alt="">
                        <img class="img-trans1" src="../images/aboutImg/maohaozuo.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-slide abwis-slide5">
                <div class="slide3-flex">
                    <div class="slide3-body">
                        <div class="slide3-t">「 温和低敏 」</div>
                        <div class="slide3-msg1">
                            <p>坚持简约有效的配方，本着弱敏肌可用的研发原则，精选低</p>
                            <p>敏的成分，给肌肤带来温和有效的护理，我们比你更想呵护</p>
                            <p>你的肌肤。</p>
                        </div>
                        <hr class="hrclass">
                        <div class="slide3-text">
                            <p>ADHERE TO THE SIMPLE AND EFFECTIVE FORMULA, IN LINE WITH THE R & DPR-</p>
                            <p>INCIPLE OF WEAK SENSITIVE MUSCLE AVAILABLE, SELECT LOW SENSITIVE INGREDIE-</p>
                            <p>NTS, BRING GENTLE AND EFFECTIVE CARE TO THE SKIN, WE WANT TO CARE FOR </p>
                            <p>YOUR SKIN MORE THAN YOU.</p>
                            <!-- <p>SO IT WORKS.</p> -->
                        </div>
                        <img class="img-1" src="../images/aboutImg/maohaozuo.svg" alt="">
                        <img class="img-trans" src="../images/aboutImg/maohaozuo.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-slide abwis-slide6">
                <div class="slide6-body">
                    <div class="s6-b-1">
                        <table class="s6-table1" cellspacing="20px">
                            <tr>
                                <td><img src="../images/WIS-8.svg" alt=""></td>
                                <td><img src="../images/WIS-8.svg" alt=""></td>
                            </tr>
                            <tr>
                                <td>成分温和有效</td>
                                <td>成分温和有效</td>
                            </tr>
                            <tr>
                                <td><img src="../images/WIS-8.svg" alt=""></td>
                                <td><img src="../images/WIS-8.svg" alt=""></td>
                            </tr>
                            <tr>
                                <td>成分温和有效</td>
                                <td>成分温和有效</td>
                            </tr>
                        </table>
                    </div>
                    <div class="s6-b-2">
                       <div class="padding-c">
                        <div>
                            <p>WIS & RAHN</p>
                            <p style="margin-top: 10px;">跨国联手深度战略合作</p>
                        </div>
                        <hr style="margin-top: 10px;margin-bottom: 10px;width: 40px;
                        background: rgba(255, 255, 255, 0.4);">
                        <div>
                            <p>WIS与拥有世界顶流科研团队的原料供应商RAHN合作，联手构建适用于中国消费者的护肤体系长期深耕研究真正适用于中国人群肌肤的有效活性成分。</p>
                        </div>
                       </div>
                    </div>
                    <div class="s6-b-3">
                        <div class="padding-d">
                            <div>
                                <p>跨国联手合作</p>
                                <p style="margin-top: 10px;">基于对护肤领域一致的深入探索</p>
                            </div>
                            <hr style="margin-top: 10px;margin-bottom: 10px;width: 40px;
                        background: rgba(255, 255, 255, 0.4);">
                            <div>
                                <p>RAHN —— 一个尤为注重科技研发和国际合作的集团WIS —— 一个专注研发温和高效产品的年轻品牌，在对护肤领域的高度探索和一致追求上双方不谋而合，携手建立了从研发标准、生产工艺到成分试验等方面的深度协作科研。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide abwis-slide7">
                <div class="slide7-body">
                    <div class="slide7-b-1">
                        <img src="../images/WIS-12.svg" alt="">
                        <div class="slide7-text">
                            <p>严格标准</p>
                            <div class="s-t-t">STRICT STANDARD</div>
                        </div>
                        <hr class="hr-class1">
                        <div style="width: 100%;font-family: PingFang SC;
                        line-height: 32px;
                        font-size: 18px;
                        font-weight: lighter;
                        color: rgba(255, 255, 255, 0.9);
                        opacity: 1;
                        text-align: center;
                        ">
                            <p style="padding: 0 38px;">从研发到生产WIS均严格按照瑞士GMP标准进行，深耕构建适用于中国消费者的护肤体系，长期研究真正适合中国人群肌肤的有效活性成分。</p>
                        </div>
                    </div>
                    <div class="slide7-b-2">
                        <img src="../images/WIS-12.svg" alt="">
                        <div class="slide7-text">
                            <p>严格标准</p>
                            <div class="s-t-t">STRICT STANDARD</div>
                        </div>
                        <hr class="hr-class1">
                        <div style="width: 100%;font-family: PingFang SC;
                        line-height: 32px;
                        font-size: 18px;
                        font-weight: lighter;
                        color: rgba(255, 255, 255, 0.9);
                        opacity: 1;
                        text-align: center;
                        ">
                            <p style="padding: 0 38px;">从研发到生产WIS均严格按照瑞士GMP标准进行，深耕构建适用于中国消费者的护肤体系，长期研究真正适合中国人群肌肤的有效活性成分。</p>
                        </div>
                    </div>
                    <div class="slide7-b-3">
                        <img src="../images/WIS-12.svg" alt="">
                        <div class="slide7-text">
                            <p>严格标准</p>
                            <div class="s-t-t">STRICT STANDARD</div>
                        </div>
                        <hr class="hr-class1">
                        <div style="width: 100%;font-family: PingFang SC;
                        line-height: 32px;
                        font-size: 18px;
                        font-weight: lighter;
                        color: rgba(255, 255, 255, 0.9);
                        opacity: 1;
                        text-align: center;
                        ">
                            <p style="padding: 0 38px;">从研发到生产WIS均严格按照瑞士GMP标准进行，深耕构建适用于中国消费者的护肤体系，长期研究真正适合中国人群肌肤的有效活性成分。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide abwis-slide8">
                <div class="abwis-slide8-son">
                    <div class="slide8-body">
                        <div>
                            <p style="font-size: 20px;
                            line-height: 32px;
                            letter-spacing: 5px;">给自己更好的</p>
                            <p style="font-size: 18px;
                            line-height: 22px;">GIVE YOURSELF A BETTER ONE</p>
                        </div>
                        <hr class="slide8-hr-c">
                        <div class="s8-msg">
                            <p>WIS希望每位用户都能“给自己更好的”，秉着对产品质量近乎完美的追求。</p>
                            <p>极度重视用户的使用体验，并根据用户的反馈意见反复迭代优化每款产品，</p>
                            <p>更新出更适合年轻人使用的有效产品，为年轻肌肤不断地带来更好的护肤体验。</p>
                        </div>
                    </div>
                </div>
                <div class="foot-t1">
                    <div class="foot-123">
                        <a style="color: #fff;
                        text-decoration: none;" href="#">粤ICP备12025057号-3</a>
                        <div class="bq11">版权所有©广州凡岛网络科技有限公司</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</body>
    <script src="../node_modules/swiper/dist/js/swiper.js"></script>
    <script src="../node_modules/swiper/dist/js/swiper.min.js"></script>
    <!-- <script src="../node_modules/swiper/dist/js/swiper.min.js.map"></script> -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container-father', {
        direction : 'vertical',
        mousewheel: true,
        autoplay:false,//等同于以下设置
        pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
    </script>
    <script>
        $(document).ready(function(){
            $("#allp,.allcp").mouseover(function(){
                $('.allcp').css({
                    'display':'block'
                })
            })
            $("#allp,.allcp").mouseout(function(){
                $('.allcp').css({
                    'display':'none'
                })
            })
        })
    </script>
</html>