<!DOCTYPE html>
<html lang="zh">
<head>
       <meta charset="UTF-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <meta http-equiv="X-UA-Compatible" content="ie=edge" />
       <title>Document</title>
       <link rel="stylesheet" href="../node_modules/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="../node_modules/swiper/dist/css/swiper.css">
       <script src="../node_modules/swiper/dist/js/swiper.js"></script>
    <script src="../node_modules/swiper/dist/js/swiper.min.js"></script>
    <!-- <script src="../node_modules/swiper/dist/js/swiper.min.js.map"></script> -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
       <style type="text/css">
         *{
           margin: 0;
           padding: 0;
         }
         body{
           /* margin: auto; */
         }
          .cent{
            display: flex;
            margin: auto;
            width:80%;
            background-color: pink;
            /* text-align: center; */
          }
          .bb{
          }
          .aa{
            width: 200px;
            height: 200px;
            background-color: red;
          }
       </style>
</head>
<body>
<div class="cent">
  <div class="bb">
    <img src="../images/pro/investment.png" alt="">
  </div>
  <div class="aa">
    asd
  </div>
</div>
</body>
</html>