<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="../node_modules/swiper/dist/css/swiper.css">
    <link rel="stylesheet" href="../css/index.css">
    <style>
        
    </style>
</head>
<body>
    <div class="swiper-container swiper-container-father">
        <nav class="navmune">
            <ul class="ul1">
                <li><a href="../view/index.html">首页</a></li>
                <li><div id="allp"><a href="../view/allpro.html" >所有产品</a></div></li>
                <li><a href="">WIS资讯</a></li>
                <li><a href="../view/aboutwis.html">关于WIS</a></li>
                <li><a href="../view/checkcode.html" >防伪查询</a></li>
                <li><a href="../view/member.html" class="ul-active">会员中心</a></li>
                <li><a href="../view/ppzsy.html">品牌招商</a></li>
            </ul>
        </nav>
        <div class="allcp">
            <div class="allcp-son">
                <div class="allcp-son1">
                    <p>人气面膜</p>
                        <table cellspacing="20" class="alltable">
                            <tr>
                                <td>细致毛孔</td>
                                <td>补水保湿</td>
                                <td>深层清洁</td>
                                <td>滋养修护</td>
                            </tr>
                            <tr>
                                <td>白亮嫩肤</td>
                                <td>舒缓抑敏</td>
                                <td>补水控油</td>
                            </tr>
                        </table>
                </div>
                <div>
    
                    <p>功效分类</p>
                        <table cellspacing="20" class="alltable">
                            <tr>
                                <td>去除黑头</td>
                                <td>提亮肤色</td>
                                <td>清洁毛孔</td>
                                <td>祛痘淡印</td>
                            </tr>
                            <tr>
                                <td>舒缓抑敏</td>
                                <td>补水保湿</td>
                                <td>隔离遮瑕</td>
                                <td>清爽控油</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table cellspacing="20">
                            <tr>
                                <td>彩妆专属</td>
                                <td>护理专属</td>
                                <td>新品专区</td>
                            </tr>
                            <tr>
                                <td>水乳套装</td>
                                <td>爆款榜单</td>
                                <td>男生专属</td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide mem-slide1">
                <div class="men-s1">
                    <div class="men-t1">
                        WIS会员奢宠活动                    </div>
                    <div class="men-t2">
                        —— 购卡办理会员，即享专属礼遇 ——
                    </div>
                    <div class="men-btn">
                        <div class="men-btn1">
                            即刻办理
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide men-slide2">
                <div class="m-s-b">
                    <div style="font-size: 32px;
                    font-family: PingFang SC;
                    font-weight: 400;
                    line-height: 70px;
                    color: #ffe9cc;">
                        加入WIS 专享会员臻宠
                    </div>
                    <div style="font-size: 16px;
                    font-family: PingFang SC;
                    font-weight: 400;
                    line-height: 70px;
                    color: #ffe9cc;
                    margin-top: 7px;">
                        —— 购卡办理WIS年卡会员，享100元面额优惠券&会员权益 ——
                    </div>
                    <div class="msb-3">
                        <div class="p-img-1">
                            <img src="../images/youhui.png" alt="">
                        </div>
                        <div class="msb-hr"></div>
                        <div class="p-img-2">
                            <img src="../images/nianka.png" alt="">
                        </div>
                    </div>
                    <div class="msb-4">
                        <table cellspacing="20px">
                            <tr>
                                <td>赠定制专属礼包</td>
                                <td>赠定制专属礼包</td>
                                <td>赠定制专属礼包</td>
                                <td>赠定制专属礼包</td>
                                <td>赠定制专属礼包</td>
                                <td>赠定制专属礼包</td>
                            </tr>
                            <tr>
                                <td><img src="../images/allpro/6_会员中心_1.png"  width="48px" alt=""></td>
                                <td><img src="../images/allpro/6_会员中心_1.png"  width="48px" alt=""></td>
                                <td><img src="../images/allpro/6_会员中心_1.png"  width="48px" alt=""></td>
                                <td><img src="../images/allpro/6_会员中心_1.png"  width="48px" alt=""></td>
                                <td><img src="../images/allpro/6_会员中心_1.png"  width="48px" alt=""></td>
                                <td><img src="../images/allpro/6_会员中心_1.png"  width="48px" alt=""></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="swiper-slide men-slide3">
                <div class="men-slide3-son">
                    <div class="m-s-3">
                        <div class="m3-1">
                            专属礼遇 如何臻享                        </div>
                        <div class="m3-2">
                            —— How to Enjoy Exclusive Courtesy ——
                        </div>
                        <div class="m3-3">
                            <div class="swiper-container mem-container-son">
                                <div class="swiper-wrapper mem-swiper-wrapper">
                                  <div class="swiper-slide"><img style="transform: translateX(20px);" src="../images/product/【雪域冰肌套装】新包装.png" width="338px" alt="">
                                    <div class="sp-sli-t">
                                        <p class="sp-sli-t-1">雪域冰肌套装</p>
                                        <div class="sp-sli-t-2">
                                            <div class="hiuyuan1">
                                                会员价¥71.92
                                            </div>
                                            <div class="hiuyuan">
                                                非会员价¥89.9
                                            </div>
                                        </div>
                                        <div class="icon-hy-1">
                                            <div><img src="../images/product/price.svg" alt=""></div>
                                            <div class="icon-hy-text">会员省59.8</div>
                                        </div>
                                    </div>
                                </div>
                                  <div class="swiper-slide"><img style="transform: translateX(40px);" src="../images/product/baoshirunru.png" width="338px" alt="">
                                    <div class="sp-sli-t1">
                                        <p class="sp-sli-t-1">WIS爽肤水</p>
                                        <div class="sp-sli-t-2">
                                            <div class="hiuyuan1">
                                                会员价¥239.2 
                                            </div>
                                            <div class="hiuyuan">
                                                非会员价¥299
                                            </div>
                                        </div>
                                        <div class="icon-hy-1">
                                            <div><img src="../images/product/price.svg" alt=""></div>
                                            <div class="icon-hy-text">会员省59.8</div>
                                        </div>
                                    </div>
                                </div>
                                  <div class="swiper-slide"><img src="../images/product/luhuijiao.png" style="transform: translateX(30px);" width="338px" alt="">
                                    <div class="sp-sli-t2">
                                        <p class="sp-sli-t-1">WIS芦荟胶</p>
                                        <div class="sp-sli-t-2">
                                            <div class="hiuyuan1">
                                                会员价¥71.92
                                            </div>
                                            <div class="hiuyuan">
                                                非会员价¥89.9
                                            </div>
                                        </div>
                                        <div class="icon-hy-1">
                                            <div><img src="../images/product/price.svg" alt=""></div>
                                            <div class="icon-hy-text"> 会员省17.98</div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="mem-foot">
                    <a style="color: #fff;text-decoration: none;" href="#">粤ICP备12025057号-3</a>
                    <span style="margin-left: 20px;font-size: 14px;color: white;">版权所有©广州凡岛网络科技有限公司</span>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</body>
    <script src="../node_modules/swiper/dist/js/swiper.js"></script>
    <script src="../node_modules/swiper/dist/js/swiper.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script>
    var mySwiper1 = new Swiper('.mem-container-son', {
        centeredSlides : true,
        loop : true,
        slidesPerView: 3,
        spaceBetween:70,
        pagination: {
            el: '.swiper-pagination',
        },
        on: {
            slideChangeTransitionStart: function(){
                if(this.activeIndex==3){
                    $(".sp-sli-t").css("display","block");
                    $(".sp-sli-t1").css("display","none");
                    $(".sp-sli-t2").css("display","none");
                }else if(this.activeIndex==4){
                    $(".sp-sli-t1").css("display","block");
                    $(".sp-sli-t").css("display","none");
                    $(".sp-sli-t2").css("display","none");
                }else if(this.activeIndex==5){
                    $(".sp-sli-t2").css("display","block");
                    $(".sp-sli-t").css("display","none");
                    $(".sp-sli-t1").css("display","none");
                }
                else if(this.activeIndex==6){
                    $(".sp-sli-t").css("display","block");
                    $(".sp-sli-t1").css("display","none");
                    $(".sp-sli-t2").css("display","none");
                }
                else if(this.activeIndex==2){
                    $(".sp-sli-t2").css("display","block");
                    $(".sp-sli-t").css("display","none");
                    $(".sp-sli-t1").css("display","none");
                }
            },
        },
    });
    var mySwiper = new Swiper('.swiper-container-father', {
        direction : 'vertical',
        mousewheel: true,
        autoplay:false,//等同于以下设置
        pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
    </script>
    <script>
        $(document).ready(function(){
            $("#allp,.allcp").mouseover(function(){
                $('.allcp').css({
                    'display':'block'
                })
            })
            $("#allp,.allcp").mouseout(function(){
                $('.allcp').css({
                    'display':'none'
                })
            })
        })
    </script>
</html>